*{
    font-family: 'Raleway', sans-serif;
}
.container-fluid{
    background: #715691;
}
h2{
    font-weight: bolder;font-size:2rem
}
.s1{
    font-weight: 300;font-size:1.5rem;
}
/*iphone 12 pro*/
@media (max-width: 415px) {
    h2{
        font-size: 1rem;
    }
    p1{
        font-size: 0.6 rem;
        font-weight: 400;
        line-height: 1.0;
    }
    .s1{
        font-weight: 150;
        font-size: 0.8rem;
    }
}
/*iphone XR*/
@media (max-width: 415px) {
    h2{
        font-size: 0.8 rem;
    }
    p1{
        font-size: 0.4 rem;
        font-weight: 400;
        line-height: 0.8;
    }  
    .s1{
        font-weight: 160;
        font-size: 0.9rem;
    }
}