<div id="img-1">
    <div class="container d-flex justify-content-center">
        <nav class="navbar navbar-expand-lg navbar-light transparent-navbar px-5">
            <a class="navbar-brand" href="#" ><div class="logo">Host<span style="color: #1befc5;">Space</span></div></a>
            <button class="navbar-toggler btn-primary" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span><i class="fa fa-bars" style="color: #fff;" aria-hidden="true"></i></span>
            </button>  
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul style="padding-left: 7rem;" class="navbar-nav" id="ul">
                <li class="nav-item">
                    <a class="nav-link " href="#" style="color:#1befc5;">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#" style="color: #fff;">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#" style="color: #fff;">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#" style="color: #fff;">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#" style="color: #fff;">Contact</a>
                </li>
                <li class="nav-item" style="padding-left: 7rem;">
                    <a class="nav-link " href="#" style="color: #fff;">Login/Register</a>
                </li>
            </ul>
        </div>
        </nav>
    </div>
    <div class="container text-center"> 
        <div>
            <div class="title">The Best Hosting Offers</div>
            <div class="content" style="color:#939393;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</div>
        </div>    
    </div>
    <div class="container text-center" style="padding-inline: 10%;justify-content:space-between">    
        
                <div class="input-group ig mt-5" style="border-radius: 0.4em;">
                    <input type="text" class="form-control" placeholder="yourdomain" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <span class="input-group-text px-5" style="border-radius: 0.4em;background-color:#4d1d85;color:#fff;border:none" id="basic-addon2">.io</span>
                        </div>&nbsp;&nbsp;
                        <button class="btn" style="background-color: #1befc5; border-radius:0.4em;">
                            <i class="fa fa-search" aria-hidden="true"></i>Search</button>    
                </div>
            
             
                
    </div>    
</div>      